.add-to-cart {
  top: 50%;
  left: 50%;

  width: 100%;
  min-height: 336px;

  background-color: $basic-white;
  border-top: 1px solid $decor-semi-light-grey;
  border-bottom: 1px solid $decor-semi-light-grey;
  box-shadow: 0px 5px 10px $decor-black;
  transform: translate(-50%, -50%);
}

.add-to-cart__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 28px 30px 46px 30px;
}

.add-to-cart__title {
  width: 163px;
  margin-bottom: 14px;

  font-size: 25px;
  text-transform: uppercase;

  text-align: center;
}

.add-to-cart__options {
  border: none;
  padding: 0;
  margin: 0;
}

.add-to-cart__options-header {
  @include plain-text(30px);
  text-align: center;
  margin-bottom: 22px;
}

.add-to-cart__options-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 7px;
}

.add-to-cart__options-item {
  @include size(82px, 52px);
}

.add-to-cart__options-item input {
  display: none;
}

.add-to-cart__option-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: $basic-dark-grey;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;

  border: 2px solid $basic-dark-grey-10;
  transition: border-color 0.3s;

  &:hover {
    border: 2px solid $basic-dark-grey-30;
  }
}

.add-to-cart__option-name:active,
.add-to-cart__option-name:focus,
.add-to-cart__options-item input:checked + .add-to-cart__option-name {
  border: 2px solid $basic-mint-light;
}

.add-to-cart__option-submit {
  margin-top: 31px;

  font-size: 17px;
  line-height: 16px;
  color: $basic-white;
  background-color: $basic-mint-light;
  border: none;
}
