.catalog {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 111px;
    padding-bottom: 0;
  }
}

.catalog__list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  min-height: 355px;
  margin-bottom: 30px;

  transition: box-shadow 0.1s;

  &:hover {
    box-shadow: 0px 6px 10px 0px $basic-black-10;
  }

  &:active {
    box-shadow: 0px 3px 5px 0px $basic-black-10;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 334px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    max-width: 316px;
    min-height: 659px;
    margin-bottom: 57px;

    &:not(:nth-child(3n)) {
      margin-right: 50px;
    }
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-bottom: 57px;
    }
  }
}

.catalog__item-picture {
  display: block;
  @include size(260px, 195px);

  @media (min-width: $tablet-width) {
    @include size(334px);
  }

  @media (min-width: $desktop-width) {
    @include size(316px, 462px);
  }
}

.catalog__item-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 27px;

  border: 1px solid $decor-light-grey;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 27px 34px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 27px 45px 27px 27px;
  }
}

.catalog__item-name {
  margin: 0;

  color: $basic-black;
  font-weight: bold;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.catalog__item-description {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 17px;

  font-size: 13px;
  color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 17px;
  }
}

.catalog__item-buy {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: 22px;

  border-top: 1px solid $decor-light-grey;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.catalog__item-price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog__item-icon {
  color: $basic-black-30;
}

.catalog__item-to-cart:hover .catalog__item-icon {
  color: $basic-mint-light;
}
