.contacts {
  display: grid;
  row-gap: 62px;

  padding-top: 38px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    row-gap: 50px;

    padding-top: 68px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas:
      ". info info map map map"
      ". write write map map map";
    grid-template-columns: repeat(6, 1fr);
    row-gap: 0;

    padding-top: 70px;
    padding-bottom: 105px;
  }
}

.contacts__info {
  display: grid;
  row-gap: 38px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-area: info;
    grid-template-columns: 1fr;
    row-gap: 34px;

    margin: 80px 0;
  }
}

.contacts__header {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-column: 1/-1;

    @media (min-width: $desktop-width) {
      position: relative;
    }
  }
}

.contacts__icon {
  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: -110px;
  }
}

.contacts__item {
  display: grid;
  grid-template-columns: 75px auto;

  font-size: 14px;
  color: $basic-dark-grey;

  @media (min-width: $tablet-width) {
    grid-template-columns: 80px auto;

    font-size: inherit;
  }

  address {
    font-style: normal;
  }
}

.contacts__item-link {
  color: $basic-dark-grey;
  border-bottom: 1px solid $basic-mint-light;

  &:hover {
    color: $basic-mint-dark-darker;
    text-decoration: underline;
  }

  &:active {
    color: $basic-mint-dark-darker;
  }
}

.contacts__map {
  width: 100vw;
  min-height: 454px;
  margin: 0 calc(50% - 50vw);

  background-image: url("../img/map-mobile@1x.webp");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.webp");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet@1x.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.webp");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    grid-area: map;
    align-self: flex-end;

    width: 527px;
    height: 457px;
    margin: 0;

    background-image: url("../img/map-desktop@1x.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.webp");
      background-size: 527px auto;
    }
  }
}

.contacts__write {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 55px auto 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: write;

    margin: 0;
  }
}
