.features {
  padding-top: 30px;
  padding-bottom: 30px;
}

.features__list {
  margin-top: 28px;
}

.features__item {
  display: flex;
  flex-direction: column;

  line-height: 20px;
  font-weight: bold;

  &:not(:last-child) {
    padding-bottom: 30px;
  }
}

.features__item-icon {
  margin-bottom: 16px;
}
