.main-nav {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "logo secondary"
      "primary special";
    align-items: center;

    position: relative;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas:
      "primary logo secondary"
      "extra . special";
  }
}

.main-nav__logo-container {
  grid-area: logo;

  display: flex;
  align-items: center;
  padding: 22px 0;

  position: relative;

  @media (min-width: $tablet-width) {
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
  }
}

.main-nav__logo {
  display: inline-flex;

  @media (max-width: $mobile-only-width) {
    margin: 0 auto;
  }
}

.main-nav__logo-image {
  @include size(113px, 46px);
}

.main-nav__toggle {
  position: absolute;
  right: 0;

  @include size(20px, 14px);

  background: transparent;
  border: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;

  color: $basic-black;
  font-size: 0;

  transition: all 0.25s ease-in-out;

  &:before,
  &:after {
    content: "";
    display: block;
    @include size(100%, 2px);

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform 0.25s ease-in-out;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  border-color: transparent;

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $mobile-only-width) {
    display: none;
  }
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &--primary-list {
    grid-area: primary;
  }

  &--secondary-list {
    grid-area: secondary;

    flex-direction: row;
  }

  &--extra-list {
    grid-area: extra;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}

.main-nav__item-link--search {
  @media (min-width: $tablet-width) {
    border-left: 1px solid $basic-black-10;
    border-right: 1px solid $basic-black-10;
  }

  span {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-nav__special-info {
  grid-area: special;

  color: $basic-dark-grey;
  font-size: 15px;
  line-height: 24px;

  @media (max-width: $mobile-only-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    justify-self: flex-end;
  }
}

.main-nav__item {
  @media (max-width: $mobile-only-width) {
    margin: 0 calc(50% - 50vw);
    border-bottom: 1px solid $decor-light-grey;
  }

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.main-nav__list--primary-list .main-nav__item:first-child {
  border-top: 1px solid $decor-light-grey;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.main-nav__item-link {
  position: relative;
  display: block;

  padding: 28px 28px 28px 46px;

  color: $basic-black;
  font-weight: bold;
  line-height: 24px;

  &:hover {
    color: $basic-black-60;

    .main-nav__item-link-icon {
      color: $basic-mint-light;
      opacity: 1;
    }
  }

  &:active {
    color: $basic-black-30;

    .main-nav__item-link-icon {
      color: $basic-mint-light;
      opacity: 0.3;
    }
  }

  @media (max-width: $mobile-only-width) {
    width: 260px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    padding: 20px 30px;
  }
}

.main-nav__list--primary-list .main-nav__item-link:first-child {
  padding-left: 0;
}

.main-nav__list--secondary-list .main-nav__item-link {
  @media (min-width: $tablet-width) {
    padding: 34px 30px;
  }

  &.main-nav__item-link--cart {
    @media (min-width: $tablet-width) {
      padding-right: 0;
    }
  }
}

.main-nav__list--extra-list .main-nav__item-link:first-child {
  padding-right: 0;
}

.main-nav__item-link-icon {
  position: absolute;
  left: 0;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}
