.page-main__title-container {
  text-align: center;

  height: 177px;

  background-color: $basic-light-grey;

  &--home {
    height: 282px;
    padding-top: 73px;

    background-image: url("../img/home-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 50% -20px;
    background-size: 575px auto;

    @media (min-width: $tablet-width) {
      height: 627px;
      background-image: url("../img/home-desktop.jpg");
      background-size: 768px auto;
      padding-top: 155px;
      background-position-y: 0;

      border-top: 1px solid $basic-black-10;
      margin-top: -70px;
    }
  }
}

.page-main__title {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}
