.page-footer {
  background-color: $basic-light-grey;
}

.page-footer__logo {
  @media (max-width: $mobile-only-width) {
    display: none;
  }
}

.page-footer__social {
  border-bottom: 1px solid $decor-dark-grey;
}
