.slider__controls {
  display: flex;
}

.slider__control {
  width: 50%;
  height: 52px;

  background-color: $basic-white;
  border: 1px solid $decor-light-grey;

  @media (min-width: $tablet-width) {
    width: auto;
    height: 26px;

    border: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      padding-right: 37px;
    }
  }
}
