/// Помощник для определения размера
/// @param {Length} $width
/// @param {Length} $height
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/// Простой текст
/// /// @param {Length} $line-height
@mixin plain-text($line-height: 24px) {
  margin: 0;
  color: $basic-dark-grey;
  font-size: 15px;
  line-height: $line-height;
}
