/* Colors */
$basic-black: rgb(0, 0, 0);
$basic-white: rgb(255, 255, 255);
$basic-white-30: rgb(255, 255, 255, 0.3);

$basic-mint-light: #63d1bb;
$basic-mint-light-darker: #59d5bc;
$basic-mint-dark: #56c3b2;
$basic-mint-dark-darker: #46c1ae;

$basic-dark-grey: #444444;
$basic-dark-grey-30: rgba(68, 68, 68, 0.3);

$basic-light-grey: #f1f1f1;
$decor-light-grey: #ececec;

/* Sizes */
$mobile-width: 320px;
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
