/* Colors */
$basic-black: rgb(0, 0, 0);
$basic-black-10: rgba(0, 0, 0, 0.1);
$basic-black-30: rgba(0, 0, 0, 0.3);
$basic-black-60: rgba(0, 0, 0, 0.6);
$basic-white: rgb(255, 255, 255);
$basic-white-30: rgb(255, 255, 255, 0.3);

$basic-mint-light: #63d1bb;
$basic-mint-light-darker: #59d5bc;
$basic-mint-dark: #56c3b2;
$basic-mint-dark-darker: #46c1ae;

$basic-dark-grey: #444444;
$basic-dark-grey-30: rgba(68, 68, 68, 0.3);
$basic-dark-grey-10: rgba(68, 68, 68, 0.1);

$basic-light-grey: #f1f1f1;
$decor-light-grey: #ececec;
$decor-dark-grey: #e5e5e5;
$decor-semi-light-grey: #c6c6c6;

$decor-black: rgba(0, 1, 1, 0.25);

/* Sizes */
$mobile-width: 320px;
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
